
mat-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

mat-card {
    transition: transform .2s;
}

.no-decoration-link {
    text-decoration: none;
    color: inherit;
  }

  .content {
    padding: 16px;
  }
  
  .content > mat-card {
    width: 200px;
  }