<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboard</h1>
  <div class="feature-grid">
    <div class="feature-item" *ngFor="let feature of features$|async">
      <a (click)="navigateToFeature(feature)" class="feature-link">
        <mat-card class="feature-card mat-elevation-z4">
          <mat-card-content class="feature-content">
            <mat-icon class="feature-icon">{{getFeatureIcon(feature)}}</mat-icon>
            <h2 class="feature-title">{{ feature }}</h2>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>